<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Youloge 开发者后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/layui/css/layui.css" rel="stylesheet">
    <script>
      if (!/^http(s*):\/\//.test(location.href)) alert('请通过 localhost 访问');
    </script>
  </head>
  <body>
    <div id="app"></div>
    <script src="https://unpkg.com/youloge.plus"></script>
    <script src="/layui/layui.js"></script>
    <script src="/index.js"></script>
    <script>
        // APIKEY 配置
        let apikey = '<?= $apikey?>';
        // 临时配置
        sessionStorage.setItem('youloge',JSON.stringify({
          APIKEY:apikey
        }))
        layui.config({ base: '/',version: '2.4.2' }).use('index', function(){
            var layer = layui.layer,setter = layui.setter,admin = layui.admin;
            // 长期配置
            layui.data(setter.tableName, {
                key: 'organization',
                value: apikey
            });
        });
    </script>
  </body>
</html>


