<title>标题</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>审核管理</cite></a>
        <a><cite>云盘审核</cite></a>
    </div>
</div>

<style>
    /* 这段样式只是用于演示 */
</style>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="layui-card">
                <div class="layui-card-header">云盘列表</div>
                <div class="layui-card-body">
                    <table id="table_drive_review_list" lay-filter="table_drive_review_list"></table>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">审核日志</div>
                <div class="layui-card-body">
                    <table id="table_drive_logger" lay-filter="table_drive_logger"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="toolDemo">
  <div class="layui-clear-space">
    <a class="layui-btn layui-btn-xs" lay-event="approval">审核审查</a>
    <a class="layui-btn layui-btn-xs" lay-event="more">
      更多 
      <i class="layui-icon layui-icon-down"></i>
    </a>
  </div>
</script> 
<script>
    layui.use(['admin'], function () {
        var { $, admin, table, form, setter,view } = layui, router = layui.router();
        // 加载列表
        const article_table = table.render({
            id: 'table_drive_review_list',
            elem: '#table_drive_review_list',
            url: 'drive/list',
            where:{limit:10},
            request: {
                pageName: 'cursor',
                limitName: 'limit'
            },
            cols: [
                [
                    { type: 'radio', fixed: 'left', title: '选中' },
                    { field: 'title', title: '标题' },
                    { field: 'status', title: '状态' },
                    { field: 'status', title: '审核',templet: '#toolDemo' },
                ]
            ],
            parseData: function ({error,result}) {
                if(error) return {code:-1,msg:error.message};
                return {
                    code: 0,
                    msg: '',
                    count: 0,
                    data: result.data
                }
            }
        });
        // 
        table.on('tool(table_drive_review_list)', function(obj){
            let {event,data} = obj
            let actions = {
                approval:()=>{
                    console.log(233,data);
                    admin.popup({
                        title:`审核${data.title}`,
                        offset: '80px',
                        area: ['520px', 'auto'],
                        id: 'LAY-popup-test1',
                        success: function(){
                            view(this.id).render('drive/detail', {
                                uuid: data.uuid
                            });
                        },
                        btnAlign: 'c',
                        btn: ['通过审核', '驳回审核(信息不全)', '驳回审核(资源违规)'],
                        btn1:function(index, layero, that){
                            console.log(index, layero, that);
                            // layero.close()
                            // return true;
                            layer.close(index);
                        },
                    });

                }
            };
            actions[event] ? actions[event]() : '';
        })
        table.on('edit(table_drive_review_list)', function(obj){
            console.log(obj)
        });
        // 
        table.render({
            id:'table_drive_logger',
            elem: '#table_drive_logger',
            url: 'https://api.youloge.com/drive/logger',
            where: {},
            cols: [
                [
                    { field: 'field', title: '修改字段' },
                    { field: 'oldest', title: '原值' },
                    { field: 'latest', title: '现值' },
                    { field: 'remark', title: '备注' },
                    { field: 'created', title: '创建时间' },
                ]
            ],
            parseData: function (res) {
                console.log(res)
                return {
                    code: 0,
                    msg: '',
                    count: 0,
                    data: res.result.data
                }
            }
        });
        // 
        table.on('radio(table_drive_review_list)', function(obj) {
            console.log(obj)
            let uuid = obj.data.uuid;
            table.reload('table_drive_logger',{
                where:{
                    uuid:uuid
                }
            });
        });

    });
</script>